# Data Preparation - Code

In [40]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly.express as px
import plotly.graph_objects as go

sns.set_theme(style="ticks", color_codes=True)

## Fig 3: World-map and line-graph – Total GHG-Emissions by country

In [41]:
# import multiple dataframes: total and relative ghg-emissions of the food industry and ghg emissions in total (all industries/households)
df_world_food_total=pd.read_csv('../../Dashboard/original_data/b_Weltkarte_emissions-from-food.csv')
df_world_food_share=pd.read_csv('../../Dashboard/original_data/a_Weltkarte_share-global-food-emissions.csv')
df_world_total=pd.read_csv('../../Dashboard/original_data/total-ghg-emissions.csv')

In [42]:
# the dataframes include data from 1990 until 2015 for each country
df_world_total.head()

        Entity Code  Year  Total GHG emissions including LUCF (CAIT)
0  Afghanistan  AFG  1990                                 15140000.0
1  Afghanistan  AFG  1991                                 15060000.0
2  Afghanistan  AFG  1992                                 13600000.0
3  Afghanistan  AFG  1993                                 13430000.0
4  Afghanistan  AFG  1994                                 13240000.0

In [43]:
# additionally the dataframes contain entities like World, Industrialized or developing countries. These information will be used for the indicator and the linegraph
df_world_food_total[df_world_food_total['Entity']=='World']

     Entity      Code  Year  Food emissions by country
5720  World  OWID_WRL  1990               1.618756e+10
5721  World  OWID_WRL  1991               1.622370e+10
5722  World  OWID_WRL  1992               1.624452e+10
5723  World  OWID_WRL  1993               1.624781e+10
5724  World  OWID_WRL  1994               1.637945e+10
5725  World  OWID_WRL  1995               1.666085e+10
5726  World  OWID_WRL  1996               1.618239e+10
5727  World  OWID_WRL  1997               1.719740e+10
5728  World  OWID_WRL  1998               1.664329e+10
5729  World  OWID_WRL  1999               1.638430e+10
5730  World  OWID_WRL  2000               1.622597e+10
5731  World  OWID_WRL  2001               1.584010e+10
5732  World  OWID_WRL  2002               1.689851e+10
5733  World  OWID_WRL  2003               1.680979e+10
5734  World  OWID_WRL  2004               1.752575e+10
5735  World  OWID_WRL  2005               1.753204e+10
5736  World  OWID_WRL  2006               1.758787e+10
5737  World  OWID_WRL  2007               1.733504e+10
5738  World  OWID_WRL  2008               1.741150e+10
5739  World  OWID_WRL  2009               1.771382e+10
5740  World  OWID_WRL  2010               1.755956e+10
5741  World  OWID_WRL  2011               1.709468e+10
5742  World  OWID_WRL  2012               1.721370e+10
5743  World  OWID_WRL  2013               1.724884e+10
5744  World  OWID_WRL  2014               1.754278e+10
5745  World  OWID_WRL  2015               1.791235e+10

In [44]:
# Set_index to merge datasets into one
df_world_food_total.set_index(['Entity','Year', 'Code'],inplace = True)
df_world_food_share.set_index(['Entity','Year', 'Code'],inplace = True)
df_world_total.set_index(['Entity','Year', 'Code'],inplace = True)

In [45]:
#Merge dataframes for food industry on index
df_world_food = df_world_food_total.merge(df_world_food_share, how='outer', left_index=True, right_index=True)

In [46]:
#Rename columns
df_world_food = df_world_food.rename(columns={'Food emissions by country': 'total_food_emissions', 'Share of global food emissions': 'share_food_emissions'})

In [47]:
#Share of emissions in percent for easier formatting
df_world_food['share_food_emissions']=df_world_food['share_food_emissions']/100

### Merge with total ghg sum

In [48]:
#merge food industry dataframe with total ghg-emissions for each country
df_world = df_world_food.merge(df_world_total, how='left', left_index=True, right_index=True)
df_world = df_world.rename(columns={'Total GHG emissions including LUCF (CAIT)': 'total_ghg'})

In [49]:
df_world.head()

                       total_food_emissions  share_food_emissions   total_ghg
Entity      Year Code
Afghanistan 1990 AFG             10442724.8              0.000645  15140000.0
            1991 AFG             10665824.8              0.000657  15060000.0
            1992 AFG             10805724.8              0.000665  13600000.0
            1993 AFG             11003824.8              0.000677  13430000.0
            1994 AFG             11286224.8              0.000689  13240000.0

In [50]:
df_world.sort_values(by=['total_ghg'], ascending=False)

                              total_food_emissions  share_food_emissions  \
Entity         Year Code
World          2015 OWID_WRL          1.791235e+10                   NaN
               2014 OWID_WRL          1.754278e+10                   NaN
               2013 OWID_WRL          1.724884e+10                   NaN
               2012 OWID_WRL          1.721370e+10                   NaN
               2011 OWID_WRL          1.709468e+10                   NaN
...                                            ...                   ...
Western Sahara 2011 ESH               6.409090e+05              0.000037
               2012 ESH               6.421380e+05              0.000037
               2013 ESH               6.366470e+05              0.000037
               2014 ESH               6.322050e+05              0.000036
               2015 ESH               6.323650e+05              0.000035

                                 total_ghg
Entity         Year Code
World          2015 OWID_WRL  4.985498e+10
               2014 OWID_WRL  4.944079e+10
               2013 OWID_WRL  4.896160e+10
               2012 OWID_WRL  4.834877e+10
               2011 OWID_WRL  4.780254e+10
...                                    ...
Western Sahara 2011 ESH                NaN
               2012 ESH                NaN
               2013 ESH                NaN
               2014 ESH                NaN
               2015 ESH                NaN

[5876 rows x 3 columns]

In [51]:
#Reset year and code as column
df_world.reset_index(level=[1,2], inplace=True)

In [52]:
df_world.head()

             Year Code  total_food_emissions  share_food_emissions   total_ghg
Entity
Afghanistan  1990  AFG            10442724.8              0.000645  15140000.0
Afghanistan  1991  AFG            10665824.8              0.000657  15060000.0
Afghanistan  1992  AFG            10805724.8              0.000665  13600000.0
Afghanistan  1993  AFG            11003824.8              0.000677  13430000.0
Afghanistan  1994  AFG            11286224.8              0.000689  13240000.0

### Translate Country names

In [53]:
#read translation list of countries
countries = pd.read_csv('../../Dashboard/original_data/countries.csv', delimiter=';')
countries.head()

,code,en,de,es,fr,it,ru
0,AD,Andorra,Andorra,Andorra,ANDORRE,Andorra,Андорра
1,AE,United Arab Emirates,Vereinigte Arabische Emirate,Emiratos Árabes Unidos,ÉMIRATS ARABES UNIS,Emirati Arabi Uniti,ОАЭ
2,AF,Afghanistan,Afghanistan,Afganistán,AFGHANISTAN,Afghanistan,Афганистан
3,AG,Antigua and Barbuda,Antigua und Barbuda,Antigua y Barbuda,ANTIGUA-ET-BARBUDA,Antigua e Barbuda,Антигуа и Барбуда
4,AI,Anguilla,Anguilla,Anguila,ANGUILLA,Anguilla,Ангилья

In [54]:
#drop unnecessary columns
countries=countries.drop(['fr', 'it', 'ru', 'es', 'code'], axis=1)

In [55]:
countries.set_index('en',inplace = True)

In [56]:
countries.head()

                                                de
en
Andorra                                    Andorra
United Arab Emirates  Vereinigte Arabische Emirate
Afghanistan                            Afghanistan
Antigua and Barbuda            Antigua und Barbuda
Anguilla                                  Anguilla

In [57]:
#merge columns
df_world_de=df_world.merge(countries, how='left', left_index=True, right_index=True)

In [58]:
df_world_de.isna().sum()

Year                       0
Code                     208
total_food_emissions      52
share_food_emissions      26
total_ghg               1017
de                       390
dtype: int64

In [59]:
# missing values Code are from rows which are no country or 
df_world_de[df_world_de['Code'].isna()].index.unique()

Index(['Developing', 'Faroe Islands', 'Industrialized',
       'International aviation', 'International shipping', 'Micronesia',
       'Swaziland', 'Timor-Leste'],
      dtype='object')

In [60]:
# drop columns with missing code, which are not needed in our plots
df_world_de.drop(['Faroe Islands', 'International aviation', 'International shipping', 'Micronesia', 'Swaziland', 'Timor-Leste'] , inplace=True)

### Correct missing values in translated column names

In [61]:
#create list of countries with missing values
lst=df_world_de[df_world_de['de'].isna()].index.unique()
lst

Index(['Congo', 'Cote d'Ivoire', 'Czechia', 'Democratic Republic of Congo',
       'Developing', 'Hong Kong', 'Industrialized', 'Macao', 'North Macedonia',
       'Serbia and Montenegro', 'United States Virgin Islands', 'World'],
      dtype='object')

In [62]:
#fill exceptions
for x in lst:
    df_world_de.loc[[x], 'de']=x

In [63]:
#Quality Check
df_world_de[df_world_de['de']=='Developing']

,Year,Code,total_food_emissions,share_food_emissions,total_ghg,de
Developing,1990,NaN,NaN,0.685514,NaN,Developing
Developing,1991,NaN,NaN,0.676649,NaN,Developing
Developing,1992,NaN,NaN,0.667533,NaN,Developing
Developing,1993,NaN,NaN,0.653868,NaN,Developing
Developing,1994,NaN,NaN,0.643171,NaN,Developing
Developing,1995,NaN,NaN,0.631656,NaN,Developing
Developing,1996,NaN,NaN,0.614389,NaN,Developing
Developing,1997,NaN,NaN,0.631600,NaN,Developing
Developing,1998,NaN,NaN,0.618919,NaN,Developing
Developing,1999,NaN,NaN,0.613981,NaN,Developing
Developing,2000,NaN,NaN,0.594816,NaN,Developing
Developing,2001,NaN,NaN,0.545506,NaN,Developing
Developing,2002,NaN,NaN,0.554128,NaN,Developing
Developing,2003,NaN,NaN,0.526474,NaN,Developing
Developing,2004,NaN,NaN,0.519872,NaN,Developing
Developing,2005,NaN,NaN,0.498886,NaN,Developing
Developing,2006,NaN,NaN,0.478809,NaN,Developing
Developing,2007,NaN,NaN,0.454045,NaN,Developing
Developing,2008,NaN,NaN,0.446139,NaN,Developing
Developing,2009,NaN,NaN,0.447450,NaN,Developing
Developing,2010,NaN,NaN,0.423308,NaN,Developing
Developing,2011,NaN,NaN,0.402077,NaN,Developing
Developing,2012,NaN,NaN,0.395109,NaN,Developing
Developing,2013,NaN,NaN,0.388114,NaN,Developing
Developing,2014,NaN,NaN,0.386813,NaN,Developing
Developing,2015,NaN,NaN,0.392964,NaN,Developing

In [64]:
# check missing values in Code
df_world_de[df_world_de['Code'].isna()].index.unique()

Index(['Developing', 'Industrialized'], dtype='object')

In [65]:
#data exploration
df_world_de.sort_values(by=['share_food_emissions'], ascending=False).head(20)

,Year,Code,total_food_emissions,share_food_emissions,total_ghg,de
Developing,1990,NaN,NaN,0.685514,NaN,Developing
Developing,1991,NaN,NaN,0.676649,NaN,Developing
Developing,1992,NaN,NaN,0.667533,NaN,Developing
Developing,1993,NaN,NaN,0.653868,NaN,Developing
Developing,1994,NaN,NaN,0.643171,NaN,Developing
Developing,1995,NaN,NaN,0.631656,NaN,Developing
Developing,1997,NaN,NaN,0.631600,NaN,Developing
Developing,1998,NaN,NaN,0.618919,NaN,Developing
Developing,1996,NaN,NaN,0.614389,NaN,Developing
Developing,1999,NaN,NaN,0.613981,NaN,Developing
Developing,2000,NaN,NaN,0.594816,NaN,Developing
Developing,2002,NaN,NaN,0.554128,NaN,Developing
Developing,2001,NaN,NaN,0.545506,NaN,Developing
Developing,2003,NaN,NaN,0.526474,NaN,Developing
Developing,2004,NaN,NaN,0.519872,NaN,Developing
Developing,2005,NaN,NaN,0.498886,NaN,Developing
Developing,2006,NaN,NaN,0.478809,NaN,Developing
Developing,2007,NaN,NaN,0.454045,NaN,Developing
Developing,2009,NaN,NaN,0.447450,NaN,Developing
Developing,2008,NaN,NaN,0.446139,NaN,Developing

In [66]:
df_world_de.loc[['World']]

,Year,Code,total_food_emissions,share_food_emissions,total_ghg,de
World,1990,OWID_WRL,1.618756e+10,NaN,3.496734e+10,World
World,1991,OWID_WRL,1.622370e+10,NaN,3.512544e+10,World
World,1992,OWID_WRL,1.624452e+10,NaN,3.498553e+10,World
World,1993,OWID_WRL,1.624781e+10,NaN,3.507963e+10,World
World,1994,OWID_WRL,1.637945e+10,NaN,3.528761e+10,World
World,1995,OWID_WRL,1.666085e+10,NaN,3.601263e+10,World
World,1996,OWID_WRL,1.618239e+10,NaN,3.602505e+10,World
World,1997,OWID_WRL,1.719740e+10,NaN,3.734250e+10,World
World,1998,OWID_WRL,1.664329e+10,NaN,3.697663e+10,World
World,1999,OWID_WRL,1.638430e+10,NaN,3.681009e+10,World
World,2000,OWID_WRL,1.622597e+10,NaN,3.742092e+10,World
World,2001,OWID_WRL,1.584010e+10,NaN,3.837996e+10,World
World,2002,OWID_WRL,1.689851e+10,NaN,3.982470e+10,World
World,2003,OWID_WRL,1.680979e+10,NaN,4.067867e+10,World
World,2004,OWID_WRL,1.752575e+10,NaN,4.245222e+10,World
World,2005,OWID_WRL,1.753204e+10,NaN,4.335452e+10,World
World,2006,OWID_WRL,1.758787e+10,NaN,4.372350e+10,World
World,2007,OWID_WRL,1.733504e+10,NaN,4.458443e+10,World
World,2008,OWID_WRL,1.741150e+10,NaN,4.495227e+10,World
World,2009,OWID_WRL,1.771382e+10,NaN,4.493619e+10,World
World,2010,OWID_WRL,1.755956e+10,NaN,4.655237e+10,World
World,2011,OWID_WRL,1.709468e+10,NaN,4.780254e+10,World
World,2012,OWID_WRL,1.721370e+10,NaN,4.834877e+10,World
World,2013,OWID_WRL,1.724884e+10,NaN,4.896160e+10,World
World,2014,OWID_WRL,1.754278e+10,NaN,4.944079e+10,World
World,2015,OWID_WRL,1.791235e+10,NaN,4.985498e+10,World

In [67]:
#drop index
df_world_de.reset_index(drop=True, inplace=True)

#rename translated country names column
df_world_de=df_world_de.rename(columns={'de':'Entity'})

In [68]:
df_world_de.head()

,Year,Code,total_food_emissions,share_food_emissions,total_ghg,Entity
0,1990,AFG,10442724.8,0.000645,15140000.0,Afghanistan
1,1991,AFG,10665824.8,0.000657,15060000.0,Afghanistan
2,1992,AFG,10805724.8,0.000665,13600000.0,Afghanistan
3,1993,AFG,11003824.8,0.000677,13430000.0,Afghanistan
4,1994,AFG,11286224.8,0.000689,13240000.0,Afghanistan

### Export to csv

In [69]:
#Data for Worldmap
#df_world_de.to_csv('fig3_global_ghg_emissions.csv', encoding='utf-8-sig', index=False)

## Fig 4: Environmental impact of single foods - Scatterplot

In [70]:
# Load the datasets for environmental impact of different products
df_ghg = pd.read_csv('../../Dashboard/original_data/ghg-kcal-poore.csv')
df_freshwater=pd.read_csv('../../Dashboard/original_data/freshwater-kcal-poore.csv')
df_land=pd.read_csv('../../Dashboard/original_data/land-use-kcal-poore.csv')

### Merge Datasets

In [71]:
# Set_index to merge datasets into one
df_ghg.set_index('Entity',inplace = True)
df_freshwater.set_index('Entity',inplace = True)
df_land.set_index('Entity',inplace = True)

In [72]:
# Merge first two datasets
df_merge1 = df_ghg.merge(df_freshwater, how='outer', left_index=True, right_index=True)

# Merge with third dataset
df_merge2=df_merge1.merge(df_land, how='outer', left_index=True, right_index=True)

In [73]:
df_merge2

,Code_x,Year_x,"GHG emissions per 1000kcal (Poore & Nemecek, 2018)",Code_y,Year_y,"Freshwater withdrawals per 1000kcal (Poore & Nemecek, 2018)",Code,Year,"Land use per 1000kcal (Poore & Nemecek, 2018)"
Entity,,,,,,,,,
Apples,NaN,2010,0.895833,NaN,2010.0,375.208333,NaN,2010,1.312500
Bananas,NaN,2010,1.433333,NaN,2010.0,190.833333,NaN,2010,3.216667
Barley,NaN,2010,0.236000,NaN,2010.0,3.420000,NaN,2010,0.222000
Beef (beef herd),NaN,2010,36.439560,NaN,2010.0,531.575092,NaN,2010,119.490842
Beef (dairy herd),NaN,2010,12.197802,NaN,2010.0,994.249084,NaN,2010,15.838828
Beet Sugar,NaN,2010,0.515670,NaN,2010.0,62.022792,NaN,2010,0.521368
Berries & Grapes,NaN,2010,2.684211,NaN,2010.0,736.140351,NaN,2010,4.228070
Brassicas,NaN,2010,3.000000,NaN,2010.0,702.352941,NaN,2010,3.235294
Cane Sugar,NaN,2010,0.911681,NaN,2010.0,176.666667,NaN,2010,0.581197
Cassava,NaN,2010,1.355236,NaN,NaN,NaN,NaN,2010,1.858316
Cheese,NaN,2010,6.170543,NaN,2010.0,1448.372093,NaN,2010,22.684755
Citrus Fruit,NaN,2010,1.218750,NaN,2010.0,258.437500,NaN,2010,2.687500
Coffee,NaN,2010,50.946429,NaN,2010.0,46.250000,NaN,2010,38.607143
Dark Chocolate,NaN,2010,9.023211,NaN,2010.0,104.564797,NaN,2010,13.338491
Eggs,NaN,2010,3.243056,NaN,2010.0,401.180556,NaN,2010,4.354167
Fish (farmed),NaN,2010,7.614525,NaN,2010.0,2062.178771,NaN,2010,4.698324
Groundnuts,NaN,2010,0.556897,NaN,2010.0,319.362069,NaN,2010,1.570690
Lamb & Mutton,NaN,2010,12.529968,NaN,2010.0,568.706625,NaN,2010,116.659306
Maize,NaN,2010,0.375898,NaN,2010.0,47.694859,NaN,2010,0.650083
Milk,NaN,2010,5.250000,NaN,2010.0,1047.000000,NaN,2010,14.916667
Nuts,NaN,2010,0.069919,NaN,2010.0,672.162602,NaN,2010,2.107317
Oatmeal,NaN,2010,0.945482,NaN,2010.0,183.911552,NaN,2010,2.897446
Olive Oil,NaN,2010,0.613122,NaN,2010.0,242.285068,NaN,2010,2.976244
Onions & Leeks,NaN,2010,1.351351,NaN,2010.0,38.648649,NaN,2010,1.054054
Other Pulses,NaN,2010,0.524927,NaN,NaN,NaN,NaN,2010,4.565982
Palm Oil,NaN,2010,0.828054,NaN,2010.0,0.723982,NaN,2010,0.273756
Peas,NaN,2010,0.283237,NaN,NaN,NaN,NaN,2010,2.156069
Pig Meat,NaN,2010,5.150628,NaN,2010.0,751.380753,NaN,2010,7.263598
Potatoes,NaN,2010,0.628415,NaN,2010.0,80.737705,NaN,2010,1.202186
Poultry Meat,NaN,2010,5.335135,NaN,2010.0,356.756757,NaN,2010,6.605405
Prawns (farmed),NaN,2010,26.087379,NaN,2010.0,3413.009709,NaN,2010,2.883495
Rapeseed Oil,NaN,2010,0.426471,NaN,2010.0,26.889140,NaN,2010,1.202489
Rice,NaN,2010,1.207271,NaN,2010.0,609.983722,NaN,2010,0.759631
Root Vegetables,NaN,2010,1.162162,NaN,2010.0,76.756757,NaN,2010,0.891892
Sunflower Oil,NaN,2010,0.407240,NaN,2010.0,114.015837,NaN,2010,1.997738
Tofu (soybeans),NaN,2010,1.166052,NaN,2010.0,54.833948,NaN,2010,1.298893
Tomatoes,NaN,2010,11.000000,NaN,2010.0,1946.315789,NaN,2010,4.210526
Wheat & Rye,NaN,2010,0.586843,NaN,2010.0,242.026217,NaN,2010,1.439075

### Drop and rename columns

In [74]:
# drop duplicate columns
df_impact = df_merge2.drop(['Code_x', 'Code_y', 'Year_x', 'Year_y', 'Code', 'Year'], axis=1)

In [75]:
#rename columns
df_impact=df_impact.rename(columns={"GHG emissions per 1000kcal (Poore & Nemecek, 2018)": "ghg", "Freshwater withdrawals per 1000kcal (Poore & Nemecek, 2018)": "freshwater", "Land use per 1000kcal (Poore & Nemecek, 2018)":"land"})

In [76]:
df_impact.head()

                         ghg  freshwater        land
Entity
Apples              0.895833  375.208333    1.312500
Bananas             1.433333  190.833333    3.216667
Barley              0.236000    3.420000    0.222000
Beef (beef herd)   36.439560  531.575092  119.490842
Beef (dairy herd)  12.197802  994.249084   15.838828

In [77]:
df_impact.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, Apples to Wheat & Rye
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ghg         38 non-null     float64
 1   freshwater  35 non-null     float64
 2   land        38 non-null     float64
dtypes: float64(3)
memory usage: 2.2+ KB

### Check missing values

In [78]:
df_impact.isnull().sum()

ghg           0
freshwater    3
land          0
dtype: int64

### Create new columns
#### Category of food
In order to better compare the different food groups, 7 more labels are added according to the nutrition pyramide: drinks, plant products, cereal, Dairy products and eggs, meat, oil and fats, sweets. This assignment has to be done manually as the range of products is very wide.

In [79]:
#drinks
df_impact.loc[['Coffee'], 'category'] = "Getränke"
# plant products
df_impact.loc[['Apples', 'Bananas', 'Brassicas', 'Cassava', 'Berries & Grapes', 'Citrus Fruit', 'Onions & Leeks', 'Potatoes','Peas', 'Tomatoes', 'Root Vegetables', 'Tofu (soybeans)'], 'category'] = "Pflanzliche Produkte"
#cereal
df_impact.loc[['Barley', 'Maize', 'Other Pulses', 'Oatmeal', 'Rice', 'Wheat & Rye'], 'category'] = "Getreide"
#Dairy Products and eggs
df_impact.loc[['Eggs', 'Milk', 'Cheese'], 'category'] = "Milchprodukte & Eier"
#meat
df_impact.loc[['Beef (beef herd)', 'Beef (dairy herd)', 'Fish (farmed)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat','Prawns (farmed)'], 'category'] = "Fleisch & Fisch"
#oil and fats
df_impact.loc[['Groundnuts', 'Nuts', 'Palm Oil', 'Olive Oil','Rapeseed Oil', 'Sunflower Oil'], 'category'] = "Öle & Fette"
#sweets
df_impact.loc[['Dark Chocolate', 'Cane Sugar', 'Beet Sugar'], 'category'] = "Süßes"

In [80]:
df_impact.index=['Apfel', 'Banane', 'Gerste', 'Rindfleisch (Fleischzucht)', 'Rindfleisch (Milchvieh)', 'Zuckerrüben', 'Beeren', 'Kohl', 'Rohrzucker', 'Maniok', 'Käse', 'Zitrone', 'Kaffee', 'Dunkle Schokolade',
'Eier', 'Fisch', 'Erdnüsse', 'Lammfleisch', 'Mais', 'Milch', 'Nüsse', 'Haferflocken', 'Olivenöl', 'Zwiebeln', 'Hülsenfrüchte', 'Palmöl', 'Erbsen', 'Schweinefleisch', 'Kartoffeln', 'Hühnerfleisch',
'Garnele', 'Rapsöl', 'Reis', 'Wurzelgemüse', 'Sonnenblumenöl', 'Tofu', 'Tomate', 'Weizen']

In [81]:
df_impact

,ghg,freshwater,land,category
Apfel,0.895833,375.208333,1.312500,Pflanzliche Produkte
Banane,1.433333,190.833333,3.216667,Pflanzliche Produkte
Gerste,0.236000,3.420000,0.222000,Getreide
Rindfleisch (Fleischzucht),36.439560,531.575092,119.490842,Fleisch & Fisch
Rindfleisch (Milchvieh),12.197802,994.249084,15.838828,Fleisch & Fisch
Zuckerrüben,0.515670,62.022792,0.521368,Süßes
Beeren,2.684211,736.140351,4.228070,Pflanzliche Produkte
Kohl,3.000000,702.352941,3.235294,Pflanzliche Produkte
Rohrzucker,0.911681,176.666667,0.581197,Süßes
Maniok,1.355236,NaN,1.858316,Pflanzliche Produkte
Käse,6.170543,1448.372093,22.684755,Milchprodukte & Eier
Zitrone,1.218750,258.437500,2.687500,Pflanzliche Produkte
Kaffee,50.946429,46.250000,38.607143,Getränke
Dunkle Schokolade,9.023211,104.564797,13.338491,Süßes
Eier,3.243056,401.180556,4.354167,Milchprodukte & Eier
Fisch,7.614525,2062.178771,4.698324,Fleisch & Fisch
Erdnüsse,0.556897,319.362069,1.570690,Öle & Fette
Lammfleisch,12.529968,568.706625,116.659306,Fleisch & Fisch
Mais,0.375898,47.694859,0.650083,Getreide
Milch,5.250000,1047.000000,14.916667,Milchprodukte & Eier
Nüsse,0.069919,672.162602,2.107317,Öle & Fette
Haferflocken,0.945482,183.911552,2.897446,Getreide
Olivenöl,0.613122,242.285068,2.976244,Öle & Fette
Zwiebeln,1.351351,38.648649,1.054054,Pflanzliche Produkte
Hülsenfrüchte,0.524927,NaN,4.565982,Getreide
Palmöl,0.828054,0.723982,0.273756,Öle & Fette
Erbsen,0.283237,NaN,2.156069,Pflanzliche Produkte
Schweinefleisch,5.150628,751.380753,7.263598,Fleisch & Fisch
Kartoffeln,0.628415,80.737705,1.202186,Pflanzliche Produkte
Hühnerfleisch,5.335135,356.756757,6.605405,Fleisch & Fisch
Garnele,26.087379,3413.009709,2.883495,Fleisch & Fisch
Rapsöl,0.426471,26.889140,1.202489,Öle & Fette
Reis,1.207271,609.983722,0.759631,Getreide
Wurzelgemüse,1.162162,76.756757,0.891892,Pflanzliche Produkte
Sonnenblumenöl,0.407240,114.015837,1.997738,Öle & Fette
Tofu,1.166052,54.833948,1.298893,Pflanzliche Produkte
Tomate,11.000000,1946.315789,4.210526,Pflanzliche Produkte
Weizen,0.586843,242.026217,1.439075,Getreide

### Testing how to create automated list for checkboxes

In [82]:
#Create List with Dictionaries to create checkbox options automatically
foods=df_impact.index.values.tolist() 
checkboxes=[]
for x in foods:
  element ={}
  element['label']=x
  element['value']=x[0:3]
  checkboxes.append(element)

### Export to csv

In [83]:
# Data for Figure: Impact of single foods - Scatterplot
#df_impact.to_csv('fig4_effect_of_different_foods.csv', encoding='utf-8-sig')

## Fig 5: Comparison of different diets to the diet recommended by EAT-Lancet
### Data preparation

In [84]:
#Import data
df_diet = pd.read_csv('../../Dashboard/original_data/eat-lancet-diet-comparison.csv')

In [85]:
#Change Datatypes
df_diet['Code']=df_diet['Code'].astype('category')
df_diet['Entity']=df_diet['Entity'].astype('category')

### Filter Data

In [86]:
# Float values are Gramm
#Choose most current data for each country
print(len(df_diet['Entity'].unique()))
df_diet=df_diet[df_diet['Year']==df_diet['Year'].max()]

173

In [87]:
#drop row with missing Value
df_diet.isna().sum()


#drop column year and code as we are only viewing data from the most current year and will use the country name as value
df_diet=df_diet.drop(['Year'], axis=1)

df_diet.head()

,Entity,Code,cereals,roots_tubers,vegetables,fruits,milk_equivalents,red_meat,poultry,eggs,seafood,legumes,nuts,oils,sugar
3,Afghanistan,AFG,485.753425,17.232877,132.438356,104.739726,148.465753,18.520548,4.191781,4.109589,0.684932,5.780822,1.506849,14.328767,24.986301
7,Albania,ALB,399.342466,124.986301,813.315069,468.712329,1085.863014,84.876712,44.821918,40.164384,14.684932,16.438356,10.465753,31.890411,58.082192
11,Algeria,DZA,598.794520,180.931507,509.808219,279.232877,333.452055,31.013699,17.479452,23.095890,10.575342,20.931507,5.041096,46.356164,73.013699
15,Angola,AGO,284.958904,566.575343,72.082192,187.726027,26.000000,34.520548,28.931507,1.835616,55.397260,20.356164,0.191781,21.972603,31.041096
19,Antigua and Barbuda,ATG,208.027397,50.383562,189.068493,372.794520,220.876712,48.438356,148.219178,7.890411,143.945205,6.383562,0.876712,28.410959,74.301370

### Bring data into necessary form

In [88]:
#Bring data into necessary form
df_diet_for = df_diet.set_index(['Entity', 'Code']).stack().reset_index(level=1, drop=True).reset_index(name='gramm')

#Rename Column
df_diet_for = df_diet_for.rename(columns={'level_1':'food', 'Entity':'country'})

In [89]:
df_diet_for.head(20)

        country              food        gramm
0   Afghanistan           cereals   485.753425
1   Afghanistan      roots_tubers    17.232877
2   Afghanistan        vegetables   132.438356
3   Afghanistan            fruits   104.739726
4   Afghanistan  milk_equivalents   148.465753
5   Afghanistan          red_meat    18.520548
6   Afghanistan           poultry     4.191781
7   Afghanistan              eggs     4.109589
8   Afghanistan           seafood     0.684932
9   Afghanistan           legumes     5.780822
10  Afghanistan              nuts     1.506849
11  Afghanistan              oils    14.328767
12  Afghanistan             sugar    24.986301
13      Albania           cereals   399.342466
14      Albania      roots_tubers   124.986301
15      Albania        vegetables   813.315069
16      Albania            fruits   468.712329
17      Albania  milk_equivalents  1085.863014
18      Albania          red_meat    84.876712
19      Albania           poultry    44.821918

In [90]:
# Save Unique categorys in list
english=df_diet_for['food'].unique()
english

array(['cereals', 'roots_tubers', 'vegetables', 'fruits',
       'milk_equivalents', 'red_meat', 'poultry', 'eggs', 'seafood',
       'legumes', 'nuts', 'oils', 'sugar'], dtype=object)

In [91]:
# Replace english words with german
df_diet_for=df_diet_for.replace(english, ['Getreide', 'Wurzelgemüse', 'Gemüse', 'Obst', 'Milch und Milchalternativen', 'Rotes Fleisch', 'Geflügel', 'Eier', 'Fisch', 'Hülsenfrüchte', 'Nüsse', 'Öl', 'Zucker'])

In [92]:
df_diet_for['group'] = ['Pflanzliche Produkte' if x in ['Wurzelgemüse', 'Gemüse', 'Obst', 'Hülsenfrüchte', 'Nüsse'] 
        else 'Fleisch & Fisch' if x in ['Rotes Fleisch', 'Geflügel', 'Fisch']
        else  'Getreide' if x in ['Getreide']
        else 'Öl' if x=='Öl'
        else 'Zucker' if x=='Zucker'
        else 'Milchprodukte & Eier' if x in ['Milch und Milchalternativen', 'Eier']
        else 'Sonstige'
        
        for x in df_diet_for['food']]

In [93]:
df_diet_for.set_index('country',inplace = True)

In [94]:
df_diet_for.head()

                                    food       gramm                 group
country
Afghanistan                     Getreide  485.753425              Getreide
Afghanistan                 Wurzelgemüse   17.232877  Pflanzliche Produkte
Afghanistan                       Gemüse  132.438356  Pflanzliche Produkte
Afghanistan                         Obst  104.739726  Pflanzliche Produkte
Afghanistan  Milch und Milchalternativen  148.465753  Milchprodukte & Eier

In [95]:
df_diet_for.head(50)

                                    food        gramm                 group
country
Afghanistan                     Getreide   485.753425              Getreide
Afghanistan                 Wurzelgemüse    17.232877  Pflanzliche Produkte
Afghanistan                       Gemüse   132.438356  Pflanzliche Produkte
Afghanistan                         Obst   104.739726  Pflanzliche Produkte
Afghanistan  Milch und Milchalternativen   148.465753  Milchprodukte & Eier
Afghanistan                Rotes Fleisch    18.520548       Fleisch & Fisch
Afghanistan                     Geflügel     4.191781       Fleisch & Fisch
Afghanistan                         Eier     4.109589  Milchprodukte & Eier
Afghanistan                        Fisch     0.684932       Fleisch & Fisch
Afghanistan                Hülsenfrüchte     5.780822  Pflanzliche Produkte
Afghanistan                        Nüsse     1.506849  Pflanzliche Produkte
Afghanistan                           Öl    14.328767                    Öl
Afghanistan                       Zucker    24.986301                Zucker
Albania                         Getreide   399.342466              Getreide
Albania                     Wurzelgemüse   124.986301  Pflanzliche Produkte
Albania                           Gemüse   813.315069  Pflanzliche Produkte
Albania                             Obst   468.712329  Pflanzliche Produkte
Albania      Milch und Milchalternativen  1085.863014  Milchprodukte & Eier
Albania                    Rotes Fleisch    84.876712       Fleisch & Fisch
Albania                         Geflügel    44.821918       Fleisch & Fisch
Albania                             Eier    40.164384  Milchprodukte & Eier
Albania                            Fisch    14.684932       Fleisch & Fisch
Albania                    Hülsenfrüchte    16.438356  Pflanzliche Produkte
Albania                            Nüsse    10.465753  Pflanzliche Produkte
Albania                               Öl    31.890411                    Öl
Albania                           Zucker    58.082192                Zucker
Algeria                         Getreide   598.794520              Getreide
Algeria                     Wurzelgemüse   180.931507  Pflanzliche Produkte
Algeria                           Gemüse   509.808219  Pflanzliche Produkte
Algeria                             Obst   279.232877  Pflanzliche Produkte
Algeria      Milch und Milchalternativen   333.452055  Milchprodukte & Eier
Algeria                    Rotes Fleisch    31.013699       Fleisch & Fisch
Algeria                         Geflügel    17.479452       Fleisch & Fisch
Algeria                             Eier    23.095890  Milchprodukte & Eier
Algeria                            Fisch    10.575342       Fleisch & Fisch
Algeria                    Hülsenfrüchte    20.931507  Pflanzliche Produkte
Algeria                            Nüsse     5.041096  Pflanzliche Produkte
Algeria                               Öl    46.356164                    Öl
Algeria                           Zucker    73.013699                Zucker
Angola                          Getreide   284.958904              Getreide
Angola                      Wurzelgemüse   566.575343  Pflanzliche Produkte
Angola                            Gemüse    72.082192  Pflanzliche Produkte
Angola                              Obst   187.726027  Pflanzliche Produkte
Angola       Milch und Milchalternativen    26.000000  Milchprodukte & Eier
Angola                     Rotes Fleisch    34.520548       Fleisch & Fisch
Angola                          Geflügel    28.931507       Fleisch & Fisch
Angola                              Eier     1.835616  Milchprodukte & Eier
Angola                             Fisch    55.397260       Fleisch & Fisch
Angola                     Hülsenfrüchte    20.356164  Pflanzliche Produkte
Angola                             Nüsse     0.191781  Pflanzliche Produkte

### Translate countries to german

In [96]:
#Translation list from previous plot
countries.head()

                                                de
en
Andorra                                    Andorra
United Arab Emirates  Vereinigte Arabische Emirate
Afghanistan                            Afghanistan
Antigua and Barbuda            Antigua und Barbuda
Anguilla                                  Anguilla

In [97]:
#merge columns
df_diet_for = df_diet_for.merge(countries, how='left', left_index=True, right_index=True)

In [98]:
df_diet_for.isna().sum()

food       0
gramm      0
group      0
de       117
dtype: int64

In [99]:
df_diet_for[df_diet_for['de'].isna()].index.unique()

Index(['Congo', 'Cote d'Ivoire', 'Czechia', 'EAT-Lancet', 'Eswatini',
       'Hong Kong', 'Macao', 'North Macedonia', 'Timor'],
      dtype='object')

In [100]:
#fill exceptions
df_diet_for.loc[['Congo'], 'de'] = "Kongo"
df_diet_for.loc[["Cote d'Ivoire"], 'de'] = "Cote d'Ivoire"
df_diet_for.loc[["Czechia"], 'de'] = "Tschechien"
df_diet_for.loc[['EAT-Lancet'], 'de'] = "EAT-Lancet"
df_diet_for.loc[['Eswatini'], 'de'] = "Eswatini"
df_diet_for.loc[['Hong Kong'], 'de'] = "Hong Kong"
df_diet_for.loc[['Macao'], 'de'] = "Macao"
df_diet_for.loc[['North Macedonia'], 'de'] = "Nordmazedonien"
df_diet_for.loc[['Timor'], 'de'] = "Timor"

df_diet_for.isna().sum()

food     0
gramm    0
group    0
de       0
dtype: int64

In [101]:
#drop index
df_diet_for.reset_index(drop=True, inplace=True)
#rename country column
df_diet_for=df_diet_for.rename(columns={'de': 'country'})

### Export to csv

In [102]:
# Data for comparison of different countries with diet recommended by EAT-Lancet
#df_diet_for.to_csv('fig5_diets.csv', encoding='utf-8-sig', index=False)